body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  margin-top: 1px;
  width: 100%;
  background-color: #bb285c;
  position: absolute;
 
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, .dropdown:hover .dropbtn{
  background-color: #bb285c;
  color: black;
}

.topnav a:target {
  
  background-color: #bb285c;
  color: white;
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn{    
    border: none;
    outline: none;
    color: white;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 17px;
}
/* Dropbtn activate when dropdown:hover event is active too*/
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #bb285c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}